API_HOST=0.0.0.0
API_PORT=3100
VITE_API_BASE=http://192.168.1.241:3100/api
STORAGE_ROOT=./storage
LAN_TRANSFER_MAX_FILE_BYTES=21474836480
LAN_TRANSFER_RETENTION_DAYS=7
LAN_PUBLIC_BASE_URL=http://192.168.1.241:3100
